html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #4f5eff;
  --gradient-color-2: #5a4fff;
  --gradient-color-3: #8654ff;
  --gradient-color-4: #342d99;
}
